<div class="container form-session">

  <h1>Edit Account</h1>

  <%= render 'form' %>


  <div>
    <%= button_to('Back', users_path, method: :get, :class => 'btn btn-default', form: {style: "display:inline-block"})  %>
  </div>

</div>