<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Subject: <%= @amessage.msg_subject %></h1>
    <h2>Message:</h2>
    <p>
      <%= @amessage.msg %>
    </p>
      From: <%= @amessage.msg_from_name %>
    <p>
    </p>
  </body>
</html>